@{meta(framework.resource('login-title') + ' | Dashee', 'Description (optional)', 'Keywords (optional)')}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="page-header">
                <h1>@{resource('login-title')}</h1>
            </div>
            <form method="post" action="">
                <div class="form-group">
                    <label for="email">@{resource('email')}</label>
                    <input type="email" class="form-control" id="email" placeholder="@{resource('email-placeholder')}">
                </div>
                <div class="form-group">
                    <label for="password">@{resource('password')}</label>
                    <input type="password" class="form-control" id="password" placeholder="@{resource('password-placeholder')}">
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#">@{resource('forgotten-password')}</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button type="submit" class="btn btn-lg btn-success">@{resource('login-submit')}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
