@{layout('not-logged')}
@{meta('@(login-title) | Dashee', 'Description (optional)', 'Keywords (optional)')}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="page-header">
                <h1>@(login-title)</h1>
            </div>
            <form name="loginForm" method="post" ng-controller="LoginCtrl as loginCtrl" ng-submit="loginCtrl.login()" novalidate>
                <div class="form-group">
                    <label for="email">@(email)</label>
                    <input ng-model="credentials.email" type="email" class="form-control" name="email" placeholder="@(email-placeholder)" required>
                </div>
                <div class="form-group">
                    <label for="password">@(password)</label>
                    <input ng-model="credentials.password" type="password" class="form-control" name="password" ng-minlength="6"
                    placeholder="@(password-placeholder)" required>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#">@(forgotten-password)</a>
                    </div>
                    <div class="col-xs-6 text-right">
                        <input type="submit" class="btn btn-lg btn-success" value="@(login-submit)">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>